Repository LionGab/NathaliaValente, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, tests, ci-cd, frontend, backend, styling, typescript

.github/labeler.yml:

# Configuração para auto-labeling baseado em arquivos alterados

dependencies:
  - package.json
  - package-lock.json
  - yarn.lock
documentation:
  - '**/*.md'
  - docs/**/*
tests:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - __tests__/**/*
ci-cd:
  - .github/**/*
  - .github/workflows/**/*
frontend:
  - src/components/**/*
  - src/screens/**/*
  - src/features/**/*
backend:
  - src/api/**/*
  - src/lib/supabase/**/*
styling:
  - '**/*.css'
  - src/theme/**/*
  - tailwind.config.js
typescript:
  - '**/*.ts'
  - '**/*.tsx'
  - tsconfig.json

fix: Instalar dependência @sentry/react e corrigir build
  package-lock.json
Labels: dependencies

fix: Simplificar seÃ§Ã£o Dicas da Nath para resolver problema de carregamento
  src/components/SimpleNathTips.tsx
  src/components/StorePage.tsx
  src/data/simple-nath-tips.ts
Labels: frontend, typescript

fix: Corrigir diretÃ³rio de build de dev-dist para dist
  dev-dist/registerSW.js
  dev-dist/sw.js
  dev-dist/workbox-3ad5617a.js
  dev-dist/workbox-7167e07a.js
Labels: none

fix: Corrigir erro PostCSS movendo @import para o inÃ­cio do CSS
  src/index.css
Labels: styling

fix: Corrigir base path do Vite para Netlify
  vite.config.ts
Labels: typescript

chore: Atualizar package-lock.json
  package-lock.json
Labels: dependencies

fix: Corrigir base path do Vite para servir na raiz do domÃ­nio
  vite.config.ts
Labels: typescript

feat: Otimizar imagens e layout da seÃ§Ã£o NAVA para mobile
  src/components/NAVAHeroSection.tsx
  vite.config.ts
Labels: frontend, typescript

feat: Melhorar design da seÃ§Ã£o NAVA com animaÃ§Ãµes e contraste
  src/components/NAVAHeroSection.tsx
Labels: frontend, typescript

feat: Implementar CalendÃ¡rio de Rotina Visual completo
  package-lock.json
  package.json
  src/components/FeedPage.tsx
  src/components/RoutineCalendar.tsx
  src/components/RoutineCard.tsx
  src/hooks/useRoutines.ts
  src/services/routine-local.service.ts
  src/services/routine-remote.service.ts
  src/types/routine.ts
  supabase/migrations/20250127_create_routines_table.sql
Labels: dependencies, frontend, typescript

feat: Implementa CalendÃ¡rio de Rotina completo com otimizaÃ§Ãµes
  src/App.tsx
  src/components/CreateRoutineModal.tsx
  src/components/RoutineCalendar.tsx
  src/components/RoutineCard.tsx
  src/components/Toast.tsx
  src/data/mock-routines.ts
  src/hooks/useRoutines.ts
  src/index.css
Labels: frontend, styling, typescript

ðŸŽ¯ ImplementaÃ§Ã£o Final Completa - ClubNath VIP
  .cursor/plans/melhorar-97804c8e.plan.md
  package-lock.json
  package.json
  src/components/CreatePostModal.tsx
  src/components/FeedPage.tsx
  src/components/ui/AccessibleButton.tsx
  src/components/ui/Card.tsx
  src/components/ui/OptimizedImage.tsx
  src/components/ui/skeletons/DailyVerseSkeleton.tsx
  src/components/ui/skeletons/ProductCardSkeleton.tsx
  src/components/ui/skeletons/RoutineCardSkeleton.tsx
  src/features/home/components/CollapsibleVerse.tsx
  src/features/home/components/HeroCard.tsx
  src/features/home/components/ProductPreview.tsx
  src/features/home/components/QuickActions.tsx
  src/features/home/components/RoutinePreview.tsx
  src/features/home/hooks/useProducts.ts
  src/features/products/components/ProductCard.tsx
  src/features/products/components/ProductForm.example.tsx
  src/features/products/components/ProductForm.tsx
  src/features/products/components/ProductFormExample.tsx
  src/features/products/examples/validation-examples.ts
  src/features/products/hooks/useProducts.ts
  src/features/products/services/productService.ts
  src/features/products/validation.ts
  src/hooks/useLazyLoading.ts
  src/shared/design-tokens.ts
  src/test/setup.ts
  vitest.config.ts
Labels: dependencies, documentation, frontend, typescript

Fix: Resolver erro 404 /api/errors e configurar APIs
  env.example
  src/lib/api-config.ts
  src/lib/error-tracking.ts
  src/lib/errorHandler.ts
  src/utils/logger.ts
Labels: typescript

Add: MCPs Essenciais para ClubNath VIP (2025)
  mcp-config.json
Labels: none

Fix: Corrigir banner PWA e erro no Feed
  src/components/ErrorBoundary.tsx
  src/components/PWAInstallPrompt.tsx
  src/hooks/usePWA.ts
  src/hooks/usePosts.ts
Labels: frontend, typescript

Add: ConfiguraÃ§Ãµes de Auto-Accept para Cursor
  .cursorrules
  cursor-settings.json
  package.json
  src/components/PWAInstallPrompt.tsx
  src/hooks/usePWA.ts
  src/hooks/usePosts.ts
Labels: dependencies, frontend, typescript

Add: ImplementaÃ§Ã£o de Testes Abrangentes - usePosts, AuthContext e E2E
  src/contexts/AuthContext.tsx
  src/contexts/__tests__/AuthContext.test.tsx
  src/hooks/__tests__/usePosts.test.ts
  src/hooks/usePWA.ts
  tests/e2e/auth.spec.ts
Labels: tests, typescript

Fix: CorreÃ§Ã£o dos problemas crÃ­ticos do Feed - Imports comentados e tabela incorreta
  src/App.tsx
  src/features/chat/screens/ChatPage.tsx
  src/features/feed/screens/FeedPage.tsx
  src/features/home/components/CollapsibleVerse.tsx
  src/features/home/components/HeroCard.tsx
  src/features/home/components/ProductPreview.tsx
  src/features/home/components/QuickActions.tsx
  src/features/home/components/RoutinePreview.tsx
  src/features/home/hooks/useProducts.ts
  src/features/profile/screens/ProfilePage.tsx
  src/features/store/screens/StorePage.tsx
  src/hooks/useOptimisticLike.ts
Labels: frontend, typescript

ðŸŽ¨ Design Fix: ImplementaÃ§Ã£o completa dos prompts de design
  DESIGN_FIX_PROMPTS.md
  src/components/PWAInstallPrompt.tsx
  src/components/ui/Card.tsx
  src/features/feed/screens/FeedPage.tsx
  src/features/home/components/HeroCard.tsx
  src/features/home/components/QuickActions.tsx
  src/index.css
Labels: documentation, frontend, styling, typescript

Fix: Corrigir formatacao da className no QuickActions
  src/features/home/components/QuickActions.tsx
Labels: frontend, typescript

REFACTOR: Reestruturacao completa das paginas principais - Nova HomePage, FeedPage focada em posts, StorePage com NAVA, navegacao otimizada com 5 tabs
  src/App.tsx
  src/components/navigation/OptimizedBottomNav.tsx
  src/features/feed/screens/FeedPage.tsx
  src/features/home/screens/HomePage.tsx
  src/features/store/screens/StorePage.tsx
Labels: frontend, typescript

FIX: Corrigir lazy loading da HomePage - adicionar export default e simplificar import
  src/App.tsx
  src/features/home/screens/HomePage.tsx
Labels: frontend, typescript

FIX: Corrigir erro de slice em ProductPreview - adicionar fallback para products undefined
  src/features/home/components/ProductPreview.tsx
Labels: frontend, typescript

FIX: Remover lazy loading problemÃ¡tico e usar imports diretos - corrigir erro de carregamento de mÃ³dulos dinÃ¢micos definitivamente
  src/App.tsx
  src/features/home/components/ProductPreview.tsx
  src/features/products/services/productService.ts
Labels: frontend, typescript

FEAT: Implementar suÃ­te completa de testes para Products Feature
  package-lock.json
  package.json
  src/features/home/components/HeroCard.tsx
  src/features/home/components/QuickActions.tsx
  src/features/products/__tests__/integration/productFlow.test.tsx
  src/features/products/components/__tests__/ProductCard.test.tsx
  src/features/products/hooks/__tests__/useProducts.test.tsx
  src/features/products/services/__tests__/productService.test.ts
  src/features/products/validation/__tests__/validation.test.ts
  src/test/mocks/supabase.ts
  src/test/setup.ts
  tests/e2e/products/productJourney.spec.ts
  tests/fixtures/auth.ts
Labels: dependencies, tests, frontend, typescript

REDESIGN COMPLETO: Home Screen Gamificada + Onboarding Essencia
  src/App.tsx
  src/components/navigation/OptimizedBottomNav.tsx
  src/components/onboarding/ArchetypeSelectionScreen.tsx
  src/components/onboarding/DesireScreen.tsx
  src/components/onboarding/EmotionalStateScreen.tsx
  src/components/onboarding/EssenceOnboarding.tsx
  src/components/onboarding/ModernWelcomeScreen.tsx
  src/components/onboarding/PersonalizedWelcomeScreen.tsx
  src/components/practical-tools/BreastfeedingCalculator.tsx
  src/components/practical-tools/MealPlanner.tsx
  src/components/practical-tools/MotherWellnessTracker.tsx
  src/components/practical-tools/SleepTracker.tsx
  src/components/ui/CelebrationModal.tsx
  src/contexts/EssenceOnboardingContext.tsx
  src/data/mockData.ts
  src/features/feed/screens/FeedPage.tsx
  src/features/home/screens/HomePage.tsx
  src/features/products/services/productService.ts
  src/features/profile/screens/ProfilePage.tsx
  src/features/tools/screens/ToolsPage.tsx
  src/hooks/useUserStats.ts
  src/index.css
  src/services/notifications.service.ts
  src/types/essence-onboarding.ts
Labels: frontend, styling, typescript

CRITICAL FIXES: Navegacao + Personalizacao Gestacional
  src/App.tsx
  src/components/Header/Header.tsx
  src/components/Header/NotificationBadge.tsx
  src/components/Header/UserGreeting.tsx
  src/components/HeroDashboard/ProgressRing.tsx
  src/components/HeroDashboard/StreakBadge.tsx
  src/components/PrimaryActions/ActionCard.tsx
  src/components/PrimaryActions/NathIACard.tsx
  src/design-system/colors.ts
  src/design-system/spacing.ts
  src/design-system/typography.ts
  src/features/home/screens/HomePage.tsx
  src/features/home/screens/HomePageSimple.tsx
  src/hooks/useGestationalPersonalization.ts
Labels: frontend, typescript

FIX: Corrigir erro de sintaxe no background pattern
  .claude/settings.local.json
  src/features/home/screens/HomePage.tsx
  src/features/home/screens/HomePageSimple.tsx
Labels: frontend, typescript

UPDATE: Produtos para BebÃª com Imagens Reais
  .claude/settings.local.json
  fix-jsx-syntax.cjs
  src/data/products.ts
  src/features/home/screens/HomePage.tsx
  src/features/home/screens/HomePageSimple.tsx
  src/features/products/components/__tests__/ProductCard.test.tsx
  src/types/products.ts
Labels: tests, frontend, typescript

ADD: SeÃ§Ã£o Desapega das MamÃ£es
  .claude/settings.local.json
  src/features/home/screens/HomePageSimple.tsx
Labels: frontend, typescript

FIX: Mover Desapega das MamÃ£es para a Loja
  src/features/home/screens/HomePageSimple.tsx
Labels: frontend, typescript

UPDATE: Imagens reais na seÃ§Ã£o Desapega das MamÃ£es
  src/features/store/screens/StorePage.tsx
Labels: frontend, typescript

UPDATE: Substituir Baby Teste OLLIN por Enxoval de BerÃ§o Completo
  src/features/store/screens/StorePage.tsx
Labels: frontend, typescript

UPDATE: Remover produtos genÃ©ricos da seÃ§Ã£o Desapega das MamÃ£es
  src/features/store/screens/StorePage.tsx
Labels: frontend, typescript

UPDATE: Simplificar Header e adicionar FAB na StorePage
  src/components/Header/Header.tsx
  src/features/store/screens/StorePage.tsx
Labels: frontend, typescript

UPDATE: Mobile-first design e botÃµes funcionais
  src/components/Header/Header.tsx
  src/components/Header/UserGreeting.tsx
  src/features/store/screens/StorePage.tsx
Labels: frontend, typescript

FINAL: Otimizacao completa mobile-first e botoes funcionais
  src/features/store/screens/StorePage.tsx
Labels: frontend, typescript

FEAT: Otimizacao completa da tela inicial conforme feedback
  src/features/home/screens/HomePageSimple.tsx
Labels: frontend, typescript

FEAT: Implementacao dos Quick Wins prioritarios
  public/manifest.json
  src/components/onboarding/PersonalizedWelcomeScreen.tsx
  src/components/sos-emotional/SosButton.tsx
  src/contexts/EssenceOnboardingContext.tsx
  src/contexts/ThemeContext.tsx
  src/data/nath-tips.ts
  src/features/chat/screens/ChatPage.tsx
  src/features/feed/screens/FeedPage.tsx
  src/features/home/screens/HomePageSimple.tsx
  src/features/profile/screens/ProfilePage.tsx
  src/features/store/screens/StorePage.tsx
  src/services/sos-emotional.service.ts
Labels: frontend, typescript

REMOVE: Botao e secao de instalacao ClubNath
  src/App.tsx
  src/components/PWAInstallPrompt.tsx
Labels: frontend, typescript
