Repository LionGab/NathaliaValente, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, tests, ci-cd, frontend, backend, styling, typescript

REMOVE: Sistema completo de instalacao ClubNath
  src/App.tsx
  src/components/PWANotifications.tsx
  src/components/navigation/SmartHeader.tsx
  src/hooks/usePWA.ts
Labels: frontend, typescript

FEAT: Melhoria completa da seÃ§Ã£o Minha Rotina
  src/data/mock-routines.ts
  src/features/home/components/EnhancedRoutinePreview.tsx
  src/features/home/screens/HomePageSimple.tsx
  src/types/routine.ts
Labels: frontend, typescript

FIX: Correcoes mobile no onboarding
  src/components/onboarding/ArchetypeSelectionScreen.tsx
  src/components/onboarding/DesireScreen.tsx
  src/components/onboarding/EmotionalStateScreen.tsx
  src/components/onboarding/PersonalizedWelcomeScreen.tsx
  src/features/home/components/EnhancedRoutinePreview.tsx
  src/features/home/screens/HomePageSimple.tsx
  src/types/routine.ts
Labels: frontend, typescript

FEAT: Implementacao de funcionalidades principais
  src/components/DynamicHeroBanner.tsx
  src/features/home/screens/HomePageSimple.tsx
  src/features/resources/components/ResourcesLibrary.tsx
Labels: frontend, typescript

FIX: Correcoes criticas de acessibilidade
  ACESSIBILIDADE-AUDIT.md
  src/components/CreatePostModal.tsx
  src/components/navigation/OptimizedBottomNav.tsx
  src/components/onboarding/ArchetypeSelectionScreen.tsx
  src/components/onboarding/DesireScreen.tsx
  src/components/onboarding/EmotionalStateScreen.tsx
  src/components/onboarding/PersonalizedWelcomeScreen.tsx
  src/features/chat/screens/ChatPage.tsx
  src/features/resources/components/ResourcesLibrary.tsx
Labels: documentation, frontend, typescript

FEAT: Implementacao completa de todas as integracoes
  public/firebase-messaging-sw.js
  src/components/OptimizedImage.tsx
  src/features/community/components/EnhancedCommunityForum.tsx
  src/features/events/components/EventsCalendar.tsx
  src/features/profile/components/EnhancedProfileSection.tsx
  src/hooks/useLazyLoading.ts
  src/hooks/useNotifications.ts
  src/services/firebase-notifications.service.ts
  src/services/supabase-realtime.service.ts
Labels: frontend, typescript

FEAT: Integracao completa de IA com multiplas APIs
  src/components/AICapabilities.tsx
  src/hooks/useAI.ts
  src/services/ai-integration.service.ts
Labels: frontend, typescript

FEAT: Melhorias de acessibilidade e otimizacoes de IA
  ACESSIBILIDADE-CHECKLIST.md
  ACESSIBILIDADE-EXEMPLOS.md
  ACESSIBILIDADE-RESUMO.md
  scripts/check-accessibility.cjs
  src/components/AICapabilities.tsx
  src/hooks/useAI.ts
Labels: documentation, frontend, typescript

FIX: Remove dependencias do Firebase para corrigir build
  src/lib/feature-flags.ts
Labels: typescript

FIX: Remove arquivos Firebase deletados do repositorio
  public/firebase-messaging-sw.js
  src/hooks/useNotifications.ts
  src/services/firebase-notifications.service.ts
Labels: typescript

FIX: Migracao completa do Firebase para Supabase
  src/App.tsx
  src/components/InstagramAuth.tsx
  src/hooks/useSupabaseNotifications.ts
Labels: frontend, typescript

feat: Atualizar favicon para tema de maternidade com suporte mobile completo
  index.html
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon-114x114.png
  public/apple-touch-icon-120x120.png
  public/apple-touch-icon-144x144.png
  public/apple-touch-icon-152x152.png
  public/apple-touch-icon-180x180.png
  public/apple-touch-icon-57x57.png
  public/apple-touch-icon-60x60.png
  public/apple-touch-icon-72x72.png
  public/apple-touch-icon-76x76.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/favicon.svg
  public/manifest.json
Labels: none

docs: Adicionar auditoria completa do projeto Nossa Maternidade
  AUDITORIA-NOSSA-MATERNIDADE.md
Labels: documentation

docs: Adicionar plano de aÃ§Ã£o detalhado para 8 semanas
  PLANO-ACAO-8-SEMANAS.md
Labels: documentation

docs: Adicionar plano de aÃ§Ã£o detalhado para 8 semanas baseado na auditoria completa
  PLANO-ACAO-DETALHADO-8-SEMANAS.md
Labels: documentation

feat: Melhorar significativamente a tela inicial do app
  src/features/home/screens/HomePageSimple.tsx
Labels: frontend, typescript

feat: Melhorar significativamente a sessÃ£o de comunidade
  src/features/feed/screens/FeedPage.tsx
Labels: frontend, typescript

feat: Melhorias significativas na loja e header
  src/components/Header/Header.tsx
  src/features/feed/screens/FeedPage.tsx
  src/features/home/screens/HomePageSimple.tsx
  src/features/store/screens/StorePage.tsx
Labels: frontend, typescript

fix: OtimizaÃ§Ã£o mobile para onboarding
  src/components/onboarding/ArchetypeSelectionScreen.tsx
  src/components/onboarding/DesireScreen.tsx
  src/components/onboarding/EmotionalStateScreen.tsx
  src/components/onboarding/EssenceOnboarding.tsx
Labels: frontend, typescript

fix: Corrigir PersonalizedWelcomeScreen e otimizar para mobile
  src/components/onboarding/PersonalizedWelcomeScreen.tsx
Labels: frontend, typescript

feat: Otimizar login para mobile-first e corrigir Supabase
  src/components/InstagramAuth.tsx
  src/contexts/AuthContext.tsx
Labels: frontend, typescript

fix: Corrigir configuraÃ§Ã£o do Supabase para mobile
  src/lib/supabase.ts
Labels: typescript

feat: Melhorias mobile-first e otimizaÃ§Ãµes de UX
  src/components/Header/Header.tsx
  src/components/InstagramAuth.tsx
  src/components/onboarding/EssenceOnboarding.tsx
  src/features/store/screens/StorePage.tsx
Labels: frontend, typescript

Implementacao completa do sistema de melhoria continua - Sistema de feedback, analytics avancado, monitoramento de performance e design maternal
  env.example
  index.html
  package.json
  src/App.tsx
  src/components/FeedbackButton.tsx
  src/components/OptimizedImage.tsx
  src/components/navigation/OptimizedBottomNav.tsx
  src/components/onboarding/EssenceOnboarding.tsx
  src/config/onboarding.ts
  src/contexts/EssenceOnboardingContext.tsx
  src/features/feed/screens/FeedPage.tsx
  src/features/home/screens/HomePageSimple.tsx
  src/features/profile/screens/ProfilePage.tsx
  src/features/store/screens/StorePage.tsx
  src/hooks/useLazyLoading.ts
  src/index.css
  src/lib/analytics.ts
  src/lib/performance.ts
  src/lib/supabase.ts
  supabase/migrations/20241201_dashboard_queries.sql
  supabase/migrations/20241201_feedback_analytics_tables.sql
  tailwind.config.js
Labels: dependencies, frontend, styling, typescript

🔒 [SECURITY] Remove credenciais hardcoded e melhora logging
  src/lib/api-config.ts
  src/lib/supabase.ts
Labels: typescript

📚 [DOCS] MVP UI/UX Premium - Análise completa e changelog
  MVP-CHANGELOG.md
Labels: documentation

🎨 [UI/UX] Implementar design system minimalista e mobile-first
  MCP_CONFIG.md
  MCP_LIST.md
  mcp-config-example.json
  src/App.tsx
  src/features/home/components/HeroCard.tsx
  src/features/home/components/QuickActions.tsx
  src/index.css
  tailwind.config.js
Labels: documentation, frontend, styling, typescript

feat: Optimize app performance with lazy loading and code splitting
  OTIMIZACOES-PERFORMANCE.md
  index.html
  src/App.tsx
  src/features/home/screens/HomePageSimple.tsx
  src/index.css
  vite.config.ts
Labels: documentation, frontend, styling, typescript

Checkpoint before follow-up message
  src/components/navigation/OptimizedBottomNav.tsx
  src/features/home/screens/HomePageSimple.tsx
  tailwind.config.js
Labels: frontend, styling, typescript

Checkpoint before follow-up message
  TAILWIND4-SHADCN-SETUP.md
  components.json
  package.json
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/index.css
  tailwind.config.js
  tsconfig.app.json
  vite.config.ts
Labels: dependencies, documentation, frontend, styling, typescript

docs: adicionar instruções de deploy Netlify
  NETLIFY-DEPLOY.md
Labels: documentation

perf: otimizar HomePage - remover elementos pesados e simplificar design
  src/components/Header/Header.tsx
  src/features/home/screens/HomePageSimple.tsx
Labels: frontend, typescript

Refactor: Update avatar ring color and remove motion from header button
  src/components/Header/Header.tsx
Labels: frontend, typescript

feat: HomePage 100% funcional mobile-first
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/features/home/screens/HomePageSimple.tsx
Labels: frontend, typescript

feat: reorganizar HomePage com novas seções funcionais
  src/features/home/screens/HomePageSimple.tsx
Labels: frontend, typescript

feat: melhorar NathIA com funcionalidades completas
  src/features/home/screens/HomePageSimple.tsx
Labels: frontend, typescript

fix: corrigir quick questions do NathIA para funcionar corretamente
  src/features/home/screens/HomePageSimple.tsx
Labels: frontend, typescript

Refactor: Improve UI/UX with touch targets and mobile-first design
  src/components/Header/Header.tsx
  src/features/home/screens/HomePageSimple.tsx
  src/index.css
Labels: frontend, styling, typescript

.github/labeler.yml:

# Configuração para auto-labeling baseado em arquivos alterados

dependencies:
  - package.json
  - package-lock.json
  - yarn.lock
documentation:
  - '**/*.md'
  - docs/**/*
tests:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - __tests__/**/*
ci-cd:
  - .github/**/*
  - .github/workflows/**/*
frontend:
  - src/components/**/*
  - src/screens/**/*
  - src/features/**/*
backend:
  - src/api/**/*
  - src/lib/supabase/**/*
styling:
  - '**/*.css'
  - src/theme/**/*
  - tailwind.config.js
typescript:
  - '**/*.ts'
  - '**/*.tsx'
  - tsconfig.json
